.results-list {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  list-style: none;
}

.result-card {
  background-color: #434343;
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
}

.result-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.result-card h3 {
  margin: 0 0 8px 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}

.result-card p {
  text-align: left;
  margin: 0;
  color: #ffffff;
  font-size: 0.9rem;
}

.result-card a {
  display: inline-block;
  text-align: left;
  margin-top: 8px;
  color: #ffffff;
  font-size: 0.875rem;
  text-decoration: none;
}


.no-results {
  text-align: left;
  color: #ffffff;
}


.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 16px;
}

.card-link:hover{
  text-decoration: none;
}

.card-link h3 {
  margin: 0 0 8px 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.card-link p {
  margin: 0;
  font-size: 0.9rem;
}


.result-card h3,
.result-card p,
.result-card a {
  text-align: left; /* Redundância para segurança */
}

